@charset "utf-8";
/* CSS Document */
/*全局样式-------------------*/
body,div,span,ul,li,ol,dl,dt,dd,em,i,h1,h2,h3,h4,h5,h6,p,input,a,img,button{ margin:0; padding:0; list-style:none; border:0;}
textarea,select{ margin:0; padding:0;}
em,i{ font-style:normal;}
body{font-family:"微软雅黑", Tahoma; font-size:14px; color:#000; background:#fff; line-height:1.2em;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#f28203; text-decoration:none;}
/*全局样式 end-----------------*/

/*头部*/
.xyhead{background: #00b2b2; padding:0 20px; line-height: 60px; color: #eee;  height: 60px;}

/*左侧导航*/
.xynav{ position: absolute; width: 200px; top:60px; bottom: 0; background:#393D49; overflow-x: auto; z-index: 2;}
.xynavc li h4,.xynavc li a{    transition: all .3s;-webkit-transition: all .3s;}
.xynavc li.on h4{ background: #2B2E37;  color: #fff;}
.xynavc li h4{ height: 45px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;  padding: 0 20px; font-size: 14px; color: #c2c2c2; line-height: 40px; position: relative;cursor: pointer;}
.xynavc li h4:after{ content: ''; width: 0px; height: 0; border: 5px solid transparent; position: absolute; z-index:2; right: 15px; top:22px; border-bottom-color: #fff;}
.xynavc li.on h4:after{border-color:transparent; border-top-color: #fff;}
.xynavc li h4:hover{ border-left:5px solid #00b2b2; } 
.xynavc li div a{height: 45px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;  padding: 0 20px; font-size: 14px; color: #c2c2c2; line-height: 40px; display: block;}
.xynavc li div a:hover{ background: #595d6c;} 
.xynavc li div a.cur{ background: #00b2b2; color: #fff;}

/*内容*/
.xycon{position: absolute; z-index: 2; top:60px; left: 200px; bottom: 0; right: 0; background: #e2e2e2; overflow-x:auto;}
.xycona{background: #fff; margin: 20px; padding:20px; box-shadow: 0 0 5px #666; border-radius: 5px;}
.xy_h4{ border-bottom: 1px solid #00b2b2; margin-bottom: 20px;}
.xy_h4 h4{ display: inline-block; font-size: 18px; font-weight: normal; line-height: 35px; padding:0 20px; color: #fff; background: #00b2b2; border-radius: 5px 5px 0 0;}
.summt_tb table{ width: 100%; border-collapse: collapse; border-spacing: 0;}
.summt_tb table th{ padding: 9px 15px;min-height: 20px;line-height: 20px;border: 1px solid #e2e2e2;font-size: 14px; background: #e2e2e2; font-weight: normal;text-align: left;}
.summt_tb table td{padding: 9px 15px;min-height: 20px;line-height: 20px;border: 1px solid #e2e2e2;font-size: 14px; transition: all .3s;-webkit-transition: all .3s; cursor: pointer;}
.summt_tb td a{ display: inline-block; line-height: 30px; color: #fff; padding:0 10px; border-radius: 5px; margin: 0 10px;}
.summt_tb td a:hover{ opacity: .8;  filter: alpha(opacity=80);}
.summt_tb td a.edit{background: #1bc4a2;}
.summt_tb td a.del{background: #df2222;}
.summt_tb table tr:hover td{background: #f5f5f5;}
.summc,.setcon,.percon,.summcx{ margin-top: 30px;}
.summcx h4,.percx h4{line-height: 40px; font-size:16px; color: #333; text-align: center; font-weight: normal;}
.xy_icon{  margin-bottom: 15px;clear: both;}
.xy_inline{    position: relative;display: inline-block;    margin-bottom: 5px;margin-right: 10px;}
.xy_inline label{    float: left;display: block;padding: 9px 15px;width: 80px;font-weight: 400;text-align: right;line-height: 20px;}
.xy_dinput{display: inline-block;vertical-align: middle;    float: left;width: 190px;margin-right: 10px;}
.xy_input,.xy_select{ height: 38px;line-height: 38px;border: 1px solid #e6e6e6;background-color: #fff;border-radius: 2px;display: block;width: 100%;padding-left: 10px;}
.xy_but{height: 38px;line-height: 38px; display: inline-block; padding:0 20px; background: #009688; text-align: center; color: #fff; cursor: pointer; border-radius: 5px;}
.died{ background: #eee;}
.xy_but:hover{ background: #0bac9d;}
.no_curp table td{ cursor:auto;}

/*编辑资料*/
.editcon{ width: 380px; padding:20px; background: #fff; display: none;}
.ed_icon .xy_inline{ margin-bottom: 15px;}
.ed_oper{text-align: center;}
.ed_oper a{ height: 36px;line-height: 36px;display: inline-block;padding: 0 20px;background: #009688;text-align: center;color: #fff; border: 1px solid #eee; background: #f8f8f8; border-radius: 5px; color: #666;}
.ed_oper a:hover{ opacity: .8;}



















/*end---------------------------------*/





















/*
                         _(\_/) 
                         ,((((^`\
   、̶J̶Howe̶°          ((((  (6 \ 
                      ,((((( ,    \
  ,,,_              ,(((((  /"._  ,`,
 ((((\\ ,...       ,((((   /    `-.-'
 )))  ;'    `"'"'""((((   (      
(((  /            (((      \
 )) |                      |
((  |        .       '     |
))  \     _ '      `t   ,.')
(   |   y;- -,-""'"-.\   \/  
)   / ./  ) /         `\  \
   |./   ( (           / /'
   ||     \\          //'|
   ||      \\       _//'||
   ||       ))     |_/  ||
   \_\     |_/          ||
   `'"                  \_\
                        `'"
*/